:root{
    font-family: monospace;
}

form {
    position:absolute;
    left: 10vw;
    width: 80vw;
    background-color: black;
    color: white;
}

.opForm {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
}

.hidden {
    visibility: collapse;
}

main {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.book {
    background-color: black;
    color: white;
    width: 80vw;
}